/*
 * @Author: czy0729
 * @Date: 2019-06-27 14:16:55
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-03 15:21:35
 */
.form {
  max-width: 800px;
}
.extra {
  position: absolute;
  right: 0;
  margin-right: -12px;
  transform: translate(100%, -100%);
}
.input {
  max-width: 400px;
}
.select {
  max-width: 400px;
}
