/*
 * @Author: czy0729
 * @Date: 2019-06-27 14:16:55
 * @Last Modified by: czy0729
 * @Last Modified time: 2019-07-04 17:27:52
 */
.form {
  max-width: 960px;
}
.right {
  position: absolute;
  right: 0;
  margin-right: -12px;
  transform: translate(100%, -100%);
}
.input {
  max-width: 400px;
}
.select {
  max-width: 400px;
}
.text {
  margin-bottom: 0;
  color: #0d1a26;
  font-weight: 500;
}
.upload {
  :global {
    .has-error {
      .c-upload {
        .ant-upload-select {
          border: 1px solid #f5222d;
        }
      }
    }
  }
}
